# Node
node_modules/
npm-debug.log*
frontend/coverage/
backend/coverage/
coverage/

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.coverage
backend/coverage.xml

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
!*.tfvars.example
.terraformrc

# Docker
.dockerignore

# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build artefacts
dist/
build/
